:root{
    --headbgcolor: #27282c;
    --type1color: white;
    --type1writer: 10s;
    --type2writer: 6s;
}

@import url('https://fonts.googleapis.com/css2?family=Anek+Latin&family=Roboto:wght@500&display=swap');
    
   
.Head{
    height: 100vh;
    background-color: var(--headbgcolor);
    place-content: center;
    text-align: center;
    display: grid;

    .Img{
    position: relative;
    bottom: 10vh;
    left: 30vh;
    padding: 3vh;
    height: 20vh;
    width: 20vh;
    object-fit: contain;
    border-radius: 50%;
    opacity: 0.5;
     }   
}
.type1{
    
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    font-weight: 100;
    position: relative;
    font-family: 'Anek Latin', sans-serif;
    font-family: 'Roboto', sans-serif;
    width: max-content;
}

.type1::before,
.type1::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
   
}
.type1::before{
    background: #27282c;
    animation: typewriter var(--type1writer) steps(32) 1s forwards;
}
.type1::after{
    width: 0.125em;
   
    animation:invisible 13s forwards, 
    typewriter var(--type1writer) steps(32) 1s forwards,
    blink 500ms steps(32,start)infinite;
    
    

}
@keyframes typewriter {
    to {
        left: 100%;
    }
}
@keyframes blink{
    to {
        background: transparent;
    }
}
@keyframes invisible{
    0%{
        background: black;
    }
    25%{
        background: black;
    }
    50%{
        background: black;
    }
    75%{
        background: black;
    }
    100%{
        background: transparent;
    }
}
.type2{
    
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    font-weight: 100;
    position: relative;
    font-family: 'Anek Latin', sans-serif;
    font-family: 'Roboto', sans-serif;
    width: max-content;
    
}
.type2::before,
.type2::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
   
}
.type2::before{
    background: #27282c;
    animation: typewriter2 var(--type2writer) steps(21) 11s forwards;
}
.type2::after{
    width: 0.125em;
    animation: 
    lines1 20s forwards,
    typewriter2 var(--type2writer) steps(21) 11s forwards,
    blink2 500ms steps(21) infinite;

}
@keyframes typewriter2 {
    to {
        left: 100%;
    }
}
@keyframes blink2{
    to {
        background: transparent;
    }
}
@keyframes lines1{
    0%{
        background: transparent;
    }
    25%{
        background: transparent;
    }
    55%{
        background: transparent;
    }
    75%{
        background: black;
    }
    80%{
        background: black;
    }
    100%{
        background: transparent;
    }
}
@keyframes invisible1{
    0%{
        background: black;
    }
    25%{
        background: black;
    }
    50%{
        background: black;
    }
    75%{
        background: black;
    }
    100%{
        background: transparent;
    }
}
